<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script defer src="./cdn.en.js"></script>
</head>
<body>
    <style>
        input {
            outline: none;
        }

        [fv-valid="false"][fv-used] {
            border: 1px solid red;
        }
    </style>
    <form action="" fv-form fv-disable-submit="true" fv-prevent-default="true">
        <!-- <input type="text" name="text" fv-display="Texto" fv-required>
        <p fv-for="text"></p>
        <input type="text" name="text2" fv-min-length="5">
        <p fv-for="text2"></p> -->
        <input type="file" name="file" id="" fv-image-to-webp multiple>
        <button type="submit">Submit</button>
        <h1 fv-form-feedback></h1>
    </form>
</body>
</html>